
{% if rke2.agent.config is defined and rke2.agent.config|default([]) %}
config: {{ rke2.agent.config }}
{% endif %}

{% if rke2.token is defined and rke2.token|default([]) %}
token: {{ rke2.token }}
{% endif %}

{% if rke2.server.url is defined and rke2.server.url|default([]) %}
server: https://{{ rke2.server.url }}:9345
{% endif %}

{% if rke2.agent.debug is defined and rke2.agent.debug|bool == true %}
debug: true
{% endif %}

{% if rke2.agent.debug is defined and rke2.agent.debug|bool == false %}
debug: false
{% endif %}

{% if rke2.agent.selinux is defined and rke2.agent.selinux|bool == true %}
selinux: true
{% endif %}
{% if rke2.agent.selinux is defined and rke2.agent.selinux|bool == false %}
selinux: false
{% endif %}

{% if rke2.agent.data_dir is defined and rke2.agent.data_dir|default([]) %}
data-dir: {{ rke2.agent.data_dir  }}
{% endif %}

{% if rke2.container_runtime_endpoint is defined and rke2.container_runtime_endpoint|default([]) %}
container-runtime-endpoint: {{ rke2.container_runtime_endpoint }}
{% endif %}

{% if rke2.snapshotter is defined and rke2.snapshotter|default([]) %}
snapshotter: {{ rke2.snapshotter  }}
{% endif %}
{% if rke2.cloud_provider_name is defined and rke2.cloud_provider_name|default([]) %}
cloud-provider-name: {{ rke2.cloud_provider_name }}
{% endif %}
{% if rke2.cloud_provider_config is defined and rke2.cloud_provider_config|default([]) %}
cloud-provider-config: {{ rke2.cloud_provider_config }}
{% endif %}
{% if rke2.profile is defined and rke2.profile|default([]) %}
profile: {{ rke2.profile  }}
{% endif %}

{% if node_label is defined and node_label |default([]) %}
node-label:
{% set items = node_label|combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if node_taint is defined and node_taint |default([]) %}
node-taint:
{% set items = node_taint|combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if node_name is defined and node_name|default([]) %}
node-name: {{ node_name  }}
{% endif %}
{% if node_ip is defined and node_ip|default([]) %}
node-ip: {{ node_ip  }}
{% endif %}
private-registry: "/etc/rancher/rke2/registries.yaml"
{% if system_default_registry is defined and system_default_registry|length > 0 %}
system-default-registry: {{ system_default_registry  }}
{% endif %}

{% if rke2.agent.other_config is defined and rke2.agent.other_config|default([]) %}
{{ rke2.agent.other_config|to_nice_yaml  }}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kubelet_arg is defined and hostvars[inventory_hostname].global_kubelet_arg != None ) or ( hostvars[inventory_hostname].groups_kubelet_arg is defined and hostvars[inventory_hostname].groups_kubelet_arg != None ) or ( hostvars[inventory_hostname].hosts_kubelet_arg is defined and hostvars[inventory_hostname].hosts_kubelet_arg != None ) %}
kubelet-arg:
{% if ( hostvars[inventory_hostname].global_kubelet_arg is defined and hostvars[inventory_hostname].global_kubelet_arg != None ) and ( hostvars[inventory_hostname].groups_kubelet_arg is undefined or hostvars[inventory_hostname].groups_kubelet_arg == None ) and ( hostvars[inventory_hostname].hosts_kubelet_arg is undefined or hostvars[inventory_hostname].hosts_kubelet_arg == None ) %}
{% set items = hostvars[inventory_hostname].global_kubelet_arg|combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kubelet_arg is undefined or hostvars[inventory_hostname].global_kubelet_arg == None ) and ( hostvars[inventory_hostname].groups_kubelet_arg is defined and hostvars[inventory_hostname].groups_kubelet_arg != None ) and ( hostvars[inventory_hostname].hosts_kubelet_arg is undefined or hostvars[inventory_hostname].hosts_kubelet_arg == None ) %}
{% set items = hostvars[inventory_hostname].groups_kubelet_arg|combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kubelet_arg is undefined or hostvars[inventory_hostname].global_kubelet_arg == None ) and ( hostvars[inventory_hostname].groups_kubelet_arg is undefined or hostvars[inventory_hostname].groups_kubelet_arg == None ) and ( hostvars[inventory_hostname].hosts_kubelet_arg is defined or hostvars[inventory_hostname].hosts_kubelet_arg != None ) %}
{% set items = hostvars[inventory_hostname].hosts_kubelet_arg |combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kubelet_arg is defined and hostvars[inventory_hostname].global_kubelet_arg != None ) and ( hostvars[inventory_hostname].groups_kubelet_arg is defined and hostvars[inventory_hostname].groups_kubelet_arg != None ) and ( hostvars[inventory_hostname].hosts_kubelet_arg is undefined or hostvars[inventory_hostname].hosts_kubelet_arg == None ) %}
{% set items = hostvars[inventory_hostname].global_kubelet_arg|combine(hostvars[inventory_hostname].groups_kubelet_arg)|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kubelet_arg is defined and hostvars[inventory_hostname].global_kubelet_arg != None ) and ( hostvars[inventory_hostname].groups_kubelet_arg is undefined or hostvars[inventory_hostname].groups_kubelet_arg == None ) and ( hostvars[inventory_hostname].hosts_kubelet_arg is defined and hostvars[inventory_hostname].hosts_kubelet_arg != None ) %}
{% set items = hostvars[inventory_hostname].global_kubelet_arg|combine(hostvars[inventory_hostname].hosts_kubelet_arg)|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kubelet_arg is undefined or hostvars[inventory_hostname].global_kubelet_arg == None ) and ( hostvars[inventory_hostname].groups_kubelet_arg is defined and hostvars[inventory_hostname].groups_kubelet_arg != None ) and ( hostvars[inventory_hostname].hosts_kubelet_arg is defined and hostvars[inventory_hostname].hosts_kubelet_arg != None ) %}
{% set items = hostvars[inventory_hostname].groups_kubelet_arg|combine(hostvars[inventory_hostname].hosts_kubelet_arg) |dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kubelet_arg is defined and hostvars[inventory_hostname].global_kubelet_arg != None ) and ( hostvars[inventory_hostname].groups_kubelet_arg is defined and hostvars[inventory_hostname].groups_kubelet_arg != None ) and ( hostvars[inventory_hostname].hosts_kubelet_arg is defined and hostvars[inventory_hostname].hosts_kubelet_arg != None ) %}
{% set items = hostvars[inventory_hostname].global_kubelet_arg|combine(hostvars[inventory_hostname].groups_kubelet_arg)|combine(hostvars[inventory_hostname].hosts_kubelet_arg)|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is defined and hostvars[inventory_hostname].global_kube_proxy_arg != None ) or ( hostvars[inventory_hostname].groups_kube_proxy_arg is defined and hostvars[inventory_hostname].groups_kube_proxy_arg != None ) or ( hostvars[inventory_hostname].hosts_kube_proxy_arg is defined and hostvars[inventory_hostname].hosts_kube_proxy_arg != None ) %}
kube-proxy-arg:
{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is defined and hostvars[inventory_hostname].global_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].groups_kube_proxy_arg is undefined or hostvars[inventory_hostname].groups_kube_proxy_arg == None ) and ( hostvars[inventory_hostname].hosts_kube_proxy_arg is undefined or hostvars[inventory_hostname].hosts_kube_proxy_arg == None ) %}
{% set items = hostvars[inventory_hostname].global_kube_proxy_arg|combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is undefined or hostvars[inventory_hostname].global_kube_proxy_arg == None ) and ( hostvars[inventory_hostname].groups_kube_proxy_arg is defined and hostvars[inventory_hostname].groups_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].hosts_kube_proxy_arg is undefined or hostvars[inventory_hostname].hosts_kube_proxy_arg == None ) %}
{% set items = hostvars[inventory_hostname].groups_kube_proxy_arg|combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is undefined or hostvars[inventory_hostname].global_kube_proxy_arg == None ) and ( hostvars[inventory_hostname].groups_kube_proxy_arg is undefined or hostvars[inventory_hostname].groups_kube_proxy_arg == None ) and ( hostvars[inventory_hostname].hosts_kube_proxy_arg is defined or hostvars[inventory_hostname].hosts_kube_proxy_arg != None ) %}
{% set items = hostvars[inventory_hostname].hosts_kube_proxy_arg|combine()|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is defined and hostvars[inventory_hostname].global_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].groups_kube_proxy_arg is defined and hostvars[inventory_hostname].groups_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].hosts_kube_proxy_arg is undefined or hostvars[inventory_hostname].hosts_kube_proxy_arg == None ) %}
{% set items = hostvars[inventory_hostname].global_kube_proxy_arg|combine(hostvars[inventory_hostname].groups_kube_proxy_arg)|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is defined and hostvars[inventory_hostname].global_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].groups_kube_proxy_arg is undefined or hostvars[inventory_hostname].groups_kube_proxy_arg == None ) and ( hostvars[inventory_hostname].hosts_kube_proxy_arg is defined and hostvars[inventory_hostname].hosts_kube_proxy_arg != None ) %}
{% set items = hostvars[inventory_hostname].global_kube_proxy_arg|combine(hostvars[inventory_hostname].hosts_kube_proxy_arg)|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is undefined or hostvars[inventory_hostname].global_kube_proxy_arg == None ) and ( hostvars[inventory_hostname].groups_kube_proxy_arg is defined and hostvars[inventory_hostname].groups_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].hosts_kube_proxy_arg is defined and hostvars[inventory_hostname].hosts_kube_proxy_arg != None ) %}
{% set items = hostvars[inventory_hostname].groups_kube_proxy_arg|combine(hostvars[inventory_hostname].hosts_kube_proxy_arg)|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}

{% if ( hostvars[inventory_hostname].global_kube_proxy_arg is defined and hostvars[inventory_hostname].global_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].groups_kube_proxy_arg is defined and hostvars[inventory_hostname].groups_kube_proxy_arg != None ) and ( hostvars[inventory_hostname].hosts_kube_proxy_arg is defined and hostvars[inventory_hostname].hosts_kube_proxy_arg != None ) %}
{% set items = hostvars[inventory_hostname].global_kube_proxy_arg|combine(hostvars[inventory_hostname].groups_kube_proxy_arg)|combine(hostvars[inventory_hostname].hosts_kube_proxy_arg)|dict2items %}
{% for item in items %}
  - {{ item.key }}={{ item.value }}
{% endfor %}
{% endif %}
{% endif %}